/* Estilos para clases comunes */



/* Principal Content */
.principal-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.principal-content.fade-out {
  opacity: 0;
}

/* Image Container */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  transform: translate(var(--offsetX, 200), var(--offsetY, 200));
}

/* Background Image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Overlay Content */
.overlay-content {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translateX(-50%) translate(var(--offsetX, 200), var(--offsetY, 200));
  text-align: start;
  color: #fff;
  z-index: 1;
  padding: 20px;
  transition: transform 0.1s ease-out;
}


.overlay-content h1 {
  font-family: unset;
  color: #fff;
  font-size: 60px;
}

/* Text Container for Home */
.texto-container-home {
  max-width: 600px;
  margin: 0 auto;
}

.texto-container-home h1,
.texto-container-home h2{
  font-family: unset;
  color: #fff;
  font-size: 60px;
}
.texto-container-home span,
.texto-container-home h4 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-container-home h4 {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

/* Button */
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #0056b3;
}
.button-container{
  color: #fff;
}
/* Audio Container */
.audio-container {
  position: absolute;
  top: -1%;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  
}

/* Arrow Icon */
.arrow-icon {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  color: #007bff;
}

.arrow-icon:hover {
  color: #0056b3;
}

/* Redirect Button */
.redirect-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.redirect-button:hover {
  transform: translateY(-10px) scale(1.1);
}

/* Redirect Button Bottom */
.redirect-button-bottom {
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.redirect-button-bottom:hover {
  transform: translateY(-10px) scale(1.1);
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Estilos duplicados para contact */

/* Contact Principal Content */
.contact-principal-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.contact-principal-content.fade-out {
  opacity: 0;
}

/* Contact Image Container */
.contact-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  transform: translate(var(--offsetX, 200), var(--offsetY, 200));
}

/* Contact Background Image */
.contact-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Contact Overlay Content */
.contact-overlay-content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%) translate(var(--offsetX, 200), var(--offsetY, 200));
  text-align: start;
  color: #fff;
  z-index: 1;
  padding: 20px;
  transition: transform 0.1s ease-out;
}

/* Contact Text Container */
.contact-texto-container-home {
  max-width: 600px;
  margin: 0 auto;
}

.contact-texto-container-home h1,
.contact-texto-container-home h2,
.contact-texto-container-home span,
.contact-texto-container-home h4 {
  color: #fff;
}

.contact-texto-container-home h4 {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

/* Contact Button */
.contact-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  
}


/* Contact Audio Container */
.contact-audio-container {
  position: absolute;
  top: -1%;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* Contact Arrow Icon */
.contact-arrow-icon {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  color: #007bff;
}


/* Contact Redirect Button */
.contact-redirect-button {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
  z-index: 100;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.contact-redirect-button:hover {
  transform: translateY(-10px) scale(1.1);
 
}

.pointer-email-contact{
  cursor: pointer;
}
.bi-discord {
  font-size: 5vh; /* Tamaño de fuente inicial */
  color: white; /* Color de texto inicial */
  text-decoration: none; /* Quita el subrayado del enlace */
  transition: color 0.5s ease-in-out, font-size 1s ease; /* Transiciones de color y tamaño de fuente */
}

.bi-discord:hover {
  color: #000; /* Color de texto al poner el mouse encima */
  font-size: 4.1em; /* Tamaño de fuente al poner el mouse encima */
}





/*--------------------------------------------------------------------------------------------------------------------------*/



/* Estilos para Option1 */

/* Principal Content */
.option1-principal-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.option1-overlay-content h1 {
  font-family: unset;
  color: #fff;
  font-size: 60px;
}

.option1-principal-content.fade-out {
  opacity: 0;
}

/* Image Container */
.option1-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  transform: translate(var(--offsetX, 200), var(--offsetY, 200));
}

/* Background Image */
.option1-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Overlay Content */
.option1-overlay-content {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translateX(-50%) translate(var(--offsetX, 200), var(--offsetY, 200));
  text-align: start;
  color: #fff;
  z-index: 1;
  padding: 20px;
  transition: transform 0.1s ease-out;
}

/* Text Container for Home */
.option1-texto-container-home {
  max-width: 600px;
  margin: 0 auto;
}

.option1-texto-container-home h1,
.option1-texto-container-home h2,
.option1-texto-container-home span,
.option1-texto-container-home h4 {
  font-family: monospace;
  color: #fff;
}

.option1-texto-container-home h4 {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

/* Button */
.option1-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, text-shadow 0.4s, background-color 0.4s;
}

.option1-btn:hover {
  background-color: #0056b3;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0056b3, 0 0 70px #0056b3, 0 0 80px #0056b3, 0 0 100px #0056b3, 0 0 150px #0056b3;
}

/* Audio Container */
.option1-audio-container {
  position: absolute;
  top: -1%;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* Arrow Icon */
.option1-arrow-icon {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  color: #007bff;
}

.option1-arrow-icon:hover {
  color: #0056b3;
}

/* Redirect Button */
.option1-redirect-button {
  position: absolute;
  top: 10%;
  right: 20px;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.option1-redirect-button:hover {
  transform: translateY(-10px) scale(1.1);
}

/* Redirect Button Bottom */
.option1-redirect-button-bottom {
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.option1-redirect-button-bottom:hover {
  transform: translateY(-10px) scale(1.1);
}

.option1-redirect-button-top {
  position: absolute;
  top: 2%;
  right: 50%;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

/* Additional Text */
.option1-additional-text {
  color: #fff;
  text-align: left;
  transition: transform 0.4s ease-out;
}

.option1-additional-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.option1-additional-text span {
  font-size: 14px;
  line-height: 1.6;
}

.VIP {
  margin: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------*/




/* OPTION2 */

/* Principal Content */
.option2-principal-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.option2-principal-content.fade-out {
  opacity: 0;
}

/* Image Container */
.option2-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
  transform: translate(var(--offsetX, 200), var(--offsetY, 200));
}

/* Background Image */
.option2-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Overlay Content */
.option2-overlay-content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%) translate(var(--offsetX, 200), var(--offsetY, 200));
  text-align: start;
  color: #fff;
  z-index: 1;
  padding: 20px;
  transition: transform 0.1s ease-out;
}

/* Text Container for Home */
.option2-texto-container-home {
  max-width: 600px;
  margin: 0 auto;
}

.option2-texto-container-home h1,
.option2-texto-container-home h2,
.option2-texto-container-home span,
.option2-texto-container-home h4 {
  color: #fff;
}

.option2-texto-container-home h4 {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
}

/* Button */
.option2-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.option2-btn:hover {
  background-color: #0056b3;
}

/* Audio Container */
.option2-audio-container {
  position: absolute;
  top: -1%;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* Arrow Icon */
.option2-arrow-icon {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  color: #007bff;
  
}

.option2-arrow-icon:hover {
  color: #0056b3;
}

/* Redirect Button */
.option2-redirect-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.option2-redirect-button:hover {
  transform: translateY(-10px) scale(1.1);
}

/* Redirect Button Bottom */
.option2-redirect-button-bottom {
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translateY(-50%) scale(1);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  padding: 50px 50px;
  border: none;
  text-align: center;
}

.option2-redirect-button-bottom:hover {
  transform: translateY(-10px) scale(1.1);
}

.option2-overlay-content h1 {
  font-family: unset;
  color: #fff;
  font-size: 60px;
}


.neon-text {
  color: #fff;
  text-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 30px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 40px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 50px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 60px #ff5555; /* Cambio de #ff00ff a un rojo leve #ff5555 */
}

.neon-button {
  background-color: transparent;
  color: #fff; /* Ajustar color del texto si es necesario */

  text-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 30px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 40px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 50px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 60px #ff5555; /* Cambio de #ff00ff a un rojo leve #ff5555 */

  transition: box-shadow 0.3s ease-in-out;
}

.neon-button:hover {
  box-shadow: 
      0 0 10px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 20px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 30px #ff5555, /* Cambio de #ff00ff a un rojo leve #ff5555 */
      0 0 40px #ff5555; /* Cambio de #ff00ff a un rojo leve #ff5555 */
}
